<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              File Upload
            </a>
            <!-- <a href="#" class="list-group-item list-group-item-action">File Upload</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
          </div>
    </div>
    <div class="col-9">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">File Upload</h1>
              <app-file-upload (fileUpload)="fileChange($event)"></app-file-upload>
              <p>{{file?file.name:''}}</p>
            </div>
          </div>
    </div>
  </div>
</div>

